@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
:root {
  --white-color: #FFF;
  --backg-color: #FF9800;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--white-color);
}

body {
  align-items: center;
  display: flex;
}

.container {
  align-items: center;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #5A717B;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Helvetica, sans-serif;
  justify-content: center;
  margin: auto;
  position: relative;
  padding: 20px;
  width: 600px;
}

.container__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__title__one {
  font-size: 60px;
  text-shadow: 1px 1px 2px #8C8C8C;
}

.container__title__subtitle {
  font-size: 20px;
}

.container__title__subtitle-active span {
  font-size: 22px;
  color: #771414;
  font-weight: bold;
}

.container__body {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container__body__input {
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px;
  outline-width: 0;
}

.container__body__button {
  border-radius: 5px;
  background-color: var(--backg-color);
  border-style: none;
  font-size: 20px;
  outline-width: 0;
  padding: 10px;
  transition: background 1s ease-in;
}

.container__body__button:hover {
  background-color: #FFc107;
  transition: background 1s ease-out;
}

.container__body__tab {
  margin-top: 40px;
}

/* style tablet */

.container__tablet {
  display: none;
  font-size: 30px;
}

.container__tablet__header {
  padding-left: 20px;
}

.container__tablet__body {
  margin: 0 30px;
  text-align: center;
  border: solid;
}

/* display tablet class */

.container__tablet-show {
  display: block;
}

/*modal css*/

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal__content {
  position: relative;
  background-color: rgba(6, 23, 6, 0.61);
  padding: 0;
  width: 100%;
  height: 100%;
  padding: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal__header {
  color: var(--white-color);
  position: relative;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  order: 2;
}

.modal__button {
  position: relative;
  padding: 30px;
  border-radius: 5px;
  outline-width: 10px;
  background-color: var(--backg-color);
  border-style: none;
  font-size: 20px;
  transition: background 1s ease-in;
  display: flex;
}

.modal-hide {
  display: none;
}

.modal-shown {
  display: block;
}

/*  Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}
